/* NOTE(reservation/form): while i could have done this section with less lines or less
complexity, i wanted to practice options and workarounds */

.reservation {
  /* the brief wants size-cover but the design uses contain  */
  background: center / cover no-repeat #d9e7ff
    url(../images/background_reservation.svg);
  /* I used flex to center the title with the form because,
    margin auto on title will not work duo to full page width.
    a better way would be just using text-align: center; */
  display: flex;
  flex-direction: column;
  padding: 100px 0 120px;
}

.reservation__title {
  margin: 0 auto 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.reservation__form {
  margin: 0 auto;
}
